<h1>Profile</h1>
<form action="">
<input type="text" placeholder="Username" [(ngModel)]="username" name="username"><br>
<input type="text" placeholder="Email" [(ngModel)]="email" name="email"><br>
<input type="password" placeholder="password" [(ngModel)]="password" name="password"><br>
<input type="password" placeholder="confirm password" [(ngModel)]="confirmPass" name="confirmPass"><br>
<button (click)="addUser()" type="button">Submit</button>
</form>
<table>
    <thead>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
    </thead>
    <tr *ngFor="let user of userInfo, let i = index">
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>
            <button (click)="delUser(i)">Delete</button>
            <button (click)="editUser(i)" class="bg-yellow-500 mx-2 px-4 text-white rounded-lg my-2 hover:bg-red-500 duration-300 ease-in">Edit</button>
            <button (click)="view(i)" type="button">view</button>
            <a routerLink="/view/{{i}}">view with link</a>
        </td>
    </tr>
</table>